<template>
	<div>
		ACTIVE GAME
    </div>
    Players
    <div repeat.for="player of game.players" class="media">
		<img src="${player.avatarUrl}" alt="Generic placeholder image">
		<div class="media-body">
			<h5>${player.steamName}</h5>
		</div>
	</div>
</template>
