<template>
	<require from="../attributes/on-enter"></require>

	<div repeat.for="message of messages" class="media">
		<img class="d-flex mr-3" src="${message.avatarUrl}" alt="Generic placeholder image">
		<div class="media-body">
			<h5 class="mt-0">${message.username}</h5>
			${message.text}
		</div>
	</div>

	<input type="text" value.two-way="textMessage" on-enter.call="sendMessage()">
</template>
