@import '~bootstrap/scss/bootstrap.scss';
html, body {
	height: 100%;
}

body {
	display: flex;
	flex-direction: column;
}

.page-container {
	display: flex;
	flex-grow: 1;
}

.color1 {
	background-color: green;
}

.color2 {
	background-color: yellow;
}

.color3 {
	background-color: sandybrown;
	display: flex;
	justify-content: center;
	align-items: flex-start;
}

.color4 {
	background-color: darkcyan;
}

// MARK: Navbar
.navbar {
	flex-direction: row;

	a {
		text-decoration: none;
		color: black;
	}

	.menu-items {
		display: flex;
		align-items: flex-end;

		a {
			color: gold;

			&:not(:last-child) {
				margin-right: 1em;
			}
		}
	}

	.hud-items {
		flex-grow: 1;
	}
}

// Side menu
.side-menu {
	display: flex;
	transition: margin ease-in 0.2s;
	margin-left: 0;

	.chat {
		width: 10em;
	}

	&.chat-hidden {
		transition: margin ease-out 0.2s;
		margin-left: -10em;
	}
}

.main-content {
	flex-grow: 1;
}
