<template>
<div click.trigger="logIn()">
	LANDING PAGE
	<button type="button" class="btn btn-success" click.trigger="logIn()">Log In</button>
	<button type="button" class="btn btn-primary" click.trigger="skipLogIn()">Skip Log In</button>
</div>
</template>
