<template>
	<require from="./chat/chat"></require>
	<require from="./hud/hud"></require>

	<nav class="navbar color1">
		<a href="#" class="navbar-brand">LOGO</a>
		<hud class="hud-items"></hud>
		<div class="menu-items">
			<a route-href="route: inventory">Inventory</a>
			<a href="#">Menu Item</a>
			<a href="#">Menu Item</a>
		</div>
	</nav>
	<div class="page-container">
		<div class="side-menu" ref="sideMenu">
			<chat class="chat color4"></chat>
			<div class="action-bar color2" click.trigger="toggle()">Action</div>
		</div>
		<div class="main-content color3">
			<router-view></router-view>
		</div>
	</div>
</template>
