<template>
	<div>
		<button click.delegate="loadAllItems()" class="btn btn-primary">Refresh</button>
	</div>
	<div>
		<span>name: </span>
		<select value.bind="newItem.name">
			<option repeat.for="item of allItems" model.bind="item">${item}</option>
		</select>
		<span>type: </span>
		<select value.bind="newItem.type">
			<option model.bind="itemType.skinBlueprint">${itemType.skinBlueprint}</option>
			<option model.bind="itemType.skinTicket">${itemType.skinTicket}</option>
		</select>
		<button type="button" class="btn btn-success" click.delegate="addNewItem()">ADD</button>
	</div>
	<div repeat.for="item of items">
		<span>Name: ${item.name}</span>
		<span>Type: ${item.type}</span>
		<button type="button" class="btn btn-success" click.delegate="sellItem(item)">Sell(${itemsUtil.getSellPrice(item)})</button>
		<button type="button" class="btn btn-info" click.delegate="addToForge(item)">Forge</button>
	</div>
	<div>
		Forge
		<span repeat.for="item of itemsForge">
			<span>${item.name}</span>
			<button type="button" class="btn btn-danger" click.delegate="removeFromForge(item)">Remove</button>
		</span>
		<button type="button" class="btn btn-success" click.delegate="forgeItems()">FORGE</button>
	</div>
</template>
