<template>
<div>
      <!-- Testing addPlayer() -->
    <form submit.trigger='addPlayer()'>
        <input type="number" placeholder="game type" value.bind="gameType">
        <button type="submit">Test It!</button>	
    </form>
	ACTIVE GAMES LIST
</div>
</template>
